<div fxLayout="column" fxLayoutGap="25px">
  <div fxLayout="row" fxLayoutGap="5px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon
        class="pointer"
        [svgIcon]="expandStatus(sections[1])"
        (click)="handleExpandAlphta()"
      ></mat-icon>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="5px">
        <span class="position"
          >Angular Developer {{ "cv.at" | translate }}
          <span class="link" (click)="handleAlphtaClick()"
            >Alphta Digital Lab</span
          >
        </span>
        <span class="date-ranges">{{ alphtaDuration }}</span>
      </div>
      <span class="date-ranges">01/2021 - 10/2021</span>
    </div>
  </div>
  <div
    class="description"
    [class.description--active]="currentExpanded === sections[1]"
    fxLayout="row"
  >
    <div fxFlex.gt-md="50">
      {{ "cv.Alphta.description" | translate }}
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="5px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon
        class="pointer"
        [svgIcon]="expandStatus(sections[0])"
        (click)="handleExpandISPLMR()"
      ></mat-icon>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="5px">
        <span class="position"
          >Angular && Node Developer {{ "cv.at" | translate }} ISPLMR</span
        >
        <span class="date-ranges">1y</span>
      </div>
      <span class="date-ranges">03/2020 - 02/2021</span>
    </div>
  </div>
  <div
    class="description"
    [class.description--active]="currentExpanded === sections[0]"
    fxLayout="row"
  >
    <div fxFlex.gt-md="50">
      {{ "cv.ISPLMR.firstPart" | translate }}
      <span class="pointer link" (click)="handleEuroMedisClick()"
        >EuroMedis</span
      >{{ "cv.ISPLMR.secondPart" | translate }}
    </div>
  </div>
</div>
