$mm: 'montserrat-medium';

.pointer:hover {
  cursor: pointer;
}

.position {
  font-family: $mm;
  font-size: 11pt;
}

.date-ranges {
  font-family: $mm;
  color: rgba(0, 0, 0, 0.5);
  font-size: 10pt;
  font-style: italic;
}

.link {
  text-decoration: underline;
  font-style: italic;
}

.description {
  font-family: $mm;
  padding-left: 25px;
  max-height: 0px;
  opacity: 0;
  transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
  overflow: hidden;

  &--active {
    max-height: 500px;
    opacity: 1;
  }
}

.link {
  cursor: pointer;
  color: #ef6c00;
}
