<form [formGroup]="form" fxLayout="column">
  <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="15px">
    <mat-form-field fxFlex.gt-xs="25">
      <mat-label>{{ 'invoiceComponent.taxId' | translate }}</mat-label>
      <input matInput formControlName="NIP">
      <mat-error *ngIf="form.controls.NIP.hasError('required')">{{ 'shared.fieldRequired' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex.gt-xs="75">
      <mat-label>{{ header }}</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="form.controls.name.hasError('required')">{{ 'shared.fieldRequired' | translate }}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>{{ 'invoiceComponent.address' | translate }}</mat-label>
    <input matInput formControlName="street">
  </mat-form-field>
  <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="15px" fxFlex>
    <mat-form-field fxFlex.gt-xs="25">
      <mat-label>{{ 'invoiceComponent.postalCode' | translate }}</mat-label>
      <input matInput formControlName="postalCode">
      <mat-error *ngIf="form.controls.postalCode.hasError('required')">{{ 'shared.fieldRequired' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex.gt-xs="75">
      <mat-label>{{ 'invoiceComponent.city' | translate }}</mat-label>
      <input matInput formControlName="city">
      <mat-error *ngIf="form.controls.city.hasError('required')">{{ 'shared.fieldRequired' | translate }}</mat-error>
    </mat-form-field>
  </div>
</form>