<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="small-form" fxLayout="column" fxLayoutGap="10px" fxFlex.gt-xs="50" fxFlex.lt-sm="100">
    <div class="header font-medium" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon svgIcon="lock"></mat-icon> {{ 'forgotComponent.passwordRecover' | translate | uppercase }}
    </div>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <mat-label>{{ 'shared.email' | translate }}</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.controls.email.hasError('pattern')">{{ 'shared.invalidEmail' | translate }}</mat-error>
      </mat-form-field>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <span class="snippet" routerLink="/guest/login">{{ 'shared.backToLogin' | translate }}</span>
        <button
          mat-raised-button
          class="submit-button font-medium"
          color="primary"
          [disabled]="form.invalid"
          (click)="handlePasswordChangeRequest()"
          type="submit"
        >{{ 'forgotComponent.resetPassword' | translate }}</button>
      </div>
    </form>
  </mat-card>
</div>