<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="small-form" fxLayout="column" fxLayoutGap="10px" fxFlex.gt-xs="50" fxFlex.lt-sm="100">
    <div class="header font-medium" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon svgIcon="lock"></mat-icon> {{ 'resetComponent.resetPassword' | translate | uppercase }}
    </div>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field>
        <mat-label>{{ 'shared.password' | translate }}</mat-label>
        <input
          [type]="passwordIsVisible ? 'text' : 'password'"
          matInput
          formControlName="password"
          [errorStateMatcher]="errorStateMatcher">
        <mat-icon
          matSuffix
          class="pointer"
          [svgIcon]="passwordIsVisible ? 'visibility_on' : 'visibility_off'"
          (click)="passwordIsVisible = !passwordIsVisible"
          ></mat-icon>
        <mat-error *ngIf="form.controls.password.hasError('required')">{{ 'shared.fieldRequired' | translate }}</mat-error>
        <mat-error *ngIf="form.hasError('passwordsNotEqual')">{{ 'shared.passwordsNotEqual' | translate }}</mat-error>
        <mat-error *ngIf="form.controls.password.hasError('pattern')">{{ 'shared.passwordPattern' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'shared.repeatPassword' | translate }}</mat-label>
        <input
          [type]="passwordIsVisible ? 'text' : 'password'"
          matInput
          formControlName="repeatPassword"
          [errorStateMatcher]="errorStateMatcher">
        <mat-icon
          matSuffix
          class="pointer"
          [svgIcon]="passwordIsVisible ? 'visibility_on' : 'visibility_off'"
          (click)="passwordIsVisible = !passwordIsVisible"
        ></mat-icon>
        <mat-error *ngIf="form.controls.repeatPassword.hasError('required')">{{ 'shared.fieldRequired' | translate }}</mat-error>
        <mat-error *ngIf="form.hasError('passwordsNotEqual')">{{ 'shared.passwordsNotEqual' | translate }}</mat-error>
      </mat-form-field>
      <div fxLayout="column" fxLayoutAlign="center center">
          <button
            mat-raised-button
            class="submit-button font-medium"
            color="primary"
            [disabled]="form.invalid"
            (click)="handlePasswordChange()"
            type="submit"
          >{{ 'resetComponent.changePassword' | translate }}</button>
      </div>
    </form>
  </mat-card>
</div>