app-education-section,
app-languages-section,
app-skills-section {
  padding-left: 25px;
}

.content {
  padding: 25px;
}

.container {
  margin: 1.5% 5%;
  border-radius: 5px;
  min-height: 800px;
}
